@import url("https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap");
@import "tailwindcss";

body {
  overflow-x: hidden;
  font-family: "Figtree", sans-serif;
}

#hero {
  overflow: hidden;
}

/* Horizontal scrolling animation */
@keyframes scroll-horizontal {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(-33.333%);
  }
}

.animate-scroll-horizontal {
  animation: scroll-horizontal 15s linear infinite;
  display: flex;
  width: max-content;
}

.animate-scroll-horizontal:hover {
  animation-play-state: paused;
}
